* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#Main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#Main #Content {
  flex-grow: 1;
}
