<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>访问资源不存在</title>
    <style>
        body{
            text-align: center;
        }
        .nav{
            text-align: left;
            margin-bottom:20px;
            padding:10px;
        }
        img{
            border-radius: 10px;
        }
        h1{
            color:red;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a href="/web">返回主页</a>
    </div>
    <img src="https://img1.baidu.com/it/u=2558822565,2365362521&fm=253&fmt=auto&app=138&f=GIF?w=600&h=400" alt="">
    <h1>404,您访问的资源路径不存在!</h1>
    <hr>
    <p>请联系管理员或重新检查您的访问路径.</p>
</body>
</html>