<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resource_content</title>
</head>
<body>
    <a href="/web/res">返回</a>
    <h1>《狂飙》中出现一堆AD钙奶镜头，娃哈哈董事长回应：没广告植入但我有意见…</h1>
    <h6>编辑: 程鹏 的报道 • 4 小时前</h6>
    <hr>
    <div>
        3月18日，娃哈哈集团董事长宗庆后做客央视财经《对话》节目。

        对于近期因为电视剧《狂飙》而火了一把的娃哈哈AD钙奶，宗庆后回应称并没有主动去做广告植入，并表示对该镜头“有点看法”，他认为，应该用AD钙奶去追悼英雄、烈士，而不是黑帮老大的儿子。
        
        
        CFF20LXzkOwNfsay86cib4p0S2T0NfBIZicSMl7tYnKBaibmLibs8uIQI1mZYasibU5KFf6wlMM5EENdMic3ibFTHCmUw.png
        CFF20LXzkOwNfsay86cib4p0S2T0NfBIZicSMl7tYnKBaibmLibs8uIQI1mZYasibU5KFf6wlMM5EENdMic3ibFTHCmUw.png
        © 由 每日经济新闻 提供
        宗庆后回应：
        
        没有主动去做广告植入
        
        在近期热播的电视剧《狂飙》中，黑社会老大徐江为了悼念儿子，在其灵堂前摆满了AD钙奶的剧情让AD钙奶这一国民单品再度走红。
        
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjPexkibo4EBHb6Bt7oPFPFr2jYwLjWF4ShZ2OPlIld9XY6DuYzrQmibcg.png
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjPexkibo4EBHb6Bt7oPFPFr2jYwLjWF4ShZ2OPlIld9XY6DuYzrQmibcg.png
        © 由 每日经济新闻 提供
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjsyOJ28Mbhu7NEmNWQ1m81439wuEYEp21P3ZMkh4qm6aib2XichwtFERA.png
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjsyOJ28Mbhu7NEmNWQ1m81439wuEYEp21P3ZMkh4qm6aib2XichwtFERA.png
        © 由 每日经济新闻 提供
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjkcYzGLZ2GBvlD0Wat0zxPG3EcT4MGKzsLXTa5ic0GwAJnWIZAVk06Ng.jpg
        CFF20LXzkOzjiajSiau9CTxHFAonic3yoOjkcYzGLZ2GBvlD0Wat0zxPG3EcT4MGKzsLXTa5ic0GwAJnWIZAVk06Ng.jpg
        © 由 每日经济新闻 提供
        图片来源：央视财经视频截图
        
        据娃哈哈方面透露，此次AD钙奶的露出并无商务合作，而是剧组的主动选择。
        
        3月18日，娃哈哈集团董事长宗庆后做客央视财经《对话》节目。
        
        bPJzOqwPBpbre08UK9gElsicLjCKhiaOyh2NoqiakSpB5pichMJuRFK4xtRNPbr1mHH1reEA91Ly3nAd4ialr7koYng.jpg
        bPJzOqwPBpbre08UK9gElsicLjCKhiaOyh2NoqiakSpB5pichMJuRFK4xtRNPbr1mHH1reEA91Ly3nAd4ialr7koYng.jpg
        © 由 每日经济新闻 提供
        节目中主持人提到，前一段时间电视剧《风吹半夏》中出现了哇哈哈的广告用歌，以及《狂飙》中出现摆了一堆娃哈哈AD钙奶的镜头，网友评论称这个广告植入这么成功，如何看待此事时，宗庆后表示：“实际上第一个广告我觉得是好消息，第二个我还是有看法的。他们告诉我，我特意去看了一下，他是为黑帮的儿子做悼念仪式上堆了一大堆娃哈哈，我说应该追悼英雄，烈士，这样我认为比较好。我们没有主动去做这个广告植入。”
        
        公开资料显示，宗庆后，男，1945年12月出生，浙江杭州人。1991年，他成立了娃哈哈食品集团公司。现任集团董事长 ，浙江省饮料工业协会会长、浙江娃哈哈智能机器人有限公司董事长。
        
        相关话题题也冲上微博热搜，引起众多网友热议。有网友称，主要AD钙奶的知名度，也不需要广告。
        
        BlJrEhhkicIlqQv3fmEWns5muyBhicr5u0A1gFu5ZZ4UdQZv5cINdxQFbJBMOVicJEmaBfB2CSfBpiaiahxQMxicicDKA.jpg
        BlJrEhhkicIlqQv3fmEWns5muyBhicr5u0A1gFu5ZZ4UdQZv5cINdxQFbJBMOVicJEmaBfB2CSfBpiaiahxQMxicicDKA.jpg
        © 由 每日经济新闻 提供
        还有网友调侃道，现在的问题与答案，才是广告植入。
        
        BlJrEhhkicIlqQv3fmEWns5muyBhicr5u0gTq2EOJAbibv7nDKLfXibnr6BUblo8PKSKn8r8z1ESHhoJxDA8TrLkJA.jpg
        BlJrEhhkicIlqQv3fmEWns5muyBhicr5u0gTq2EOJAbibv7nDKLfXibnr6BUblo8PKSKn8r8z1ESHhoJxDA8TrLkJA.jpg
        © 由 每日经济新闻 提供
        
        CFF20LXzkOwNfsay86cib4p0S2T0NfBIZicSMl7tYnKBaibmLibs8uIQI1mZYasibU5KFf6wlMM5EENdMic3ibFTHCmUw.png
        CFF20LXzkOwNfsay86cib4p0S2T0NfBIZicSMl7tYnKBaibmLibs8uIQI1mZYasibU5KFf6wlMM5EENdMic3ibFTHCmUw.png
        © 由 每日经济新闻 提供
        宗庆后谈娃哈哈存在的问题
        
        公开资料显示，娃哈哈创建于1987年，旗下拥有AD钙奶、营养快线等王牌单品。
        
        近年来，面对食品饮品市场的激烈竞争，哇哈哈也在不断创新。宗庆后曾坦言，娃哈哈的目标是迈向“百年企业”。然而，在竞争激烈的食品饮料市场中，想要打造百年企业，并非易事。
        
        据界面新闻，宗庆后此前开诚布公地提到了娃哈哈在2022年存在的问题。其中值得注意的一点是他提到了娃哈哈现有的包装、口感不适合市场需要，“年轻人的消费观念是喜欢就好，包装漂亮、概念健康就会吸引他们购买，但最后还是要靠质量才会变成我们的消费者。现在已在大力改进，争取消费者的喜爱。”
        
        显然，宗庆后要将娃哈哈从原有的怀旧形象中脱离出来，虽然过去的成就仍然让娃哈哈整体保持一个良性增长的态势。
        
        从娃哈哈整体营收规模看，娃哈哈已经摆脱此前连续4年400亿的销售规模，根据2022浙商全国500强榜单，杭州娃哈哈集团有限公司2021年营收519.15亿，同比增长18.04%。AD钙奶自2018年焕新以来已经连续三年保持两位数增长。
    </div>
</body>
</html>