<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resource</title>
</head>
<body>
    <a href="/web">返回主页</a>
    <h1>文章列表</h1>
    <ul>
        <li>张兰被曝海外欠债9.8亿！纽约豪宅被执行，境外家族信托被击穿，资产隔离失败！最新回应：被资本算计，没欠任何人</li>
        <li>
            <a href="/web/res_c">《狂飙》中出现一堆AD钙奶镜头，娃哈哈董事长回应：没广告植入但我有意见…</a>
        </li>
        <li>反转？知名主持人曝李梦张隆已结婚，建议李梦起诉张隆前妻</li>
        <li>巴黎发生了翻天覆地的变化！梅西留了下来，姆巴佩和内马尔走了</li>
        <li>属于RNG的版本？小明Gala梦回MSI，常规赛末JDG冲刺榜首！</li>
        <li>年薪百万 华为又一天才少年曝光：发表21篇论文 还是UP主</li>
        <li>在一个偏远的小岛上发现了塑料石块 令科学家都感到震惊</li>
    </ul>
</body>
</html>