<!-- 继承base.html的基础模板 -->
{% extends "back/frame/base.html" %}

{% block css %}
<style>
    .content{
        flex-grow: 1;
        display:flex;
        justify-content: center;
        align-items: center;
        height:100%;
        background-color:#f9f9f9;
    }
    .page_center{
        width:800px;
        background:#fff;
        border:1px solid #ccc;
        border-radius:6px;
        padding:10px;
        min-height: 300px;
    }
</style>
{% endblock %}


{% block html %}
    <div class="content">
        <div class="page_center container">
            <h3>新增轮播图页</h3>
            <hr>
            <form action="http://localhost:3000/sowing/api/add" method="post" 
            enctype="application/x-www-form-urlencoded">
                <!-- enctype="multipart/form-data"> -->
                <label>
                    轮播图标题
                    <input type="text" name="sowing_title" required>
                </label>
                <br>
                <label>
                    上架时间
                    <input type="date" name="start_time" required>
                </label>
                <br>
                <label>
                    结束时间
                    <input type="date" name="end_time" required>
                </label>
                <br>
                <label>
                    轮播图图片
                    <input type="file" name="UploadImg" >
                </label>
                <br>
                <input class="submitBtn btn btn-primary pull-right" type="button" value="提交">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $('.submitBtn').on('click',()=>{
        var $form = $('form');
        console.log($form.serialize());
        $.ajax({
            url:$form.attr('action'),
            type:$form.attr('method'),
            // 服务端接收FormData,所以客户端也要创建FormData
            // data:new FormData($form[0]),
            data:$form.serialize(),
            // 不要处理转化成一个查询字符串
            processData:false,
            contentType:false,
            success:(data)=>{
                console.log(data);
            }
        });
    })
</script>
{% endblock %}